<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/create}" th:object="${user}">
    <label for="name"> Enter name: </label>
    <input type="text" id="name" name="name" th:field="*{username}"/>

    <label for="password"> Enter password: </label>
    <input type="text" id="password" name="password" th:field="*{password}"/>

    <label for="email"> Enter email: </label>
    <input type="text" id="email" name="email" th:field="*{email}"/>
    <br/>
    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="roles : ${role}"
               th:value="${roles.getId()}"
               th:text="${roles.getName().replace('ROLE_', '') + ' '}"
               th:field="*{roles}"
        />
    </label>
    <input type="submit" value="Create!">
</form>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>