<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <style>
    table {
      border-collapse: collapse;
      width: 80%;
      margin-top: 20px;
    }

    th, td {
      border: 2px solid black;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }

    .edit-link, .delete-form {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div>
  <h2>All Users</h2>

  <form th:action="@{/admin/create}" method="get">
    <button type="submit">Create</button>
  </form>

  <form th:action="@{/logout}" method="get">
    <button type="submit">Logout</button>
  </form>

  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <tr th:each="user : ${usersList}">
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td>
        <ul th:each="role:${user.getRoles()}">
          <li th:text="${role.getName().replace('ROLE_', '') + ' '}"></li>
        </ul>
      </td>
      <td class="actions">
        <a th:href="@{/admin/edit(id=${user.getId()})}" class="edit-link">
          <button type="button">Edit</button>
        </a>
        <form th:method="post" th:action="@{/admin/users(id=${user.id})}" class="delete-form">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>